@import 'reset';

/* My CSS */

@import 'layout';
@import 'slider';

// variables

$background-color: #373c48;
$font: 'Poiret One', cursive;
$text-color: #fff;

/* Display */

body
{
	font-family: $font;
	background-color: $background-color;
}

p
{
	color: $text-color;
	font-size: 20px;
	line-height: 30px;
}

.bio p
{
	max-width:450px;
	margin-left: 50px;
}

.expos h3
{
	font-size: 25px;
}

.expos h4
{
	font-size: 20px;
}

.logo
{
	font-size: 50px;
	text-decoration: none;
	color: $text-color;
}

nav>ul
{
	list-style: none;
}

a
{
	color: $text-color;
	text-decoration: none;		
}

nav a
{
	font-size: 30px;
}

nav a:hover
{
	border-bottom: 2px solid $text-color;
}

img
{
	max-height: 580px;
	width: auto;
	border-radius: 7px;
	box-shadow: 1px 1px 12px $text-color;
}