/* Global Body size & font */

body
{
	min-width: 100vh;
	height: 100vh;
	display: flex;
	font-family: 'Roboto', sans-serif;
}

/* Main container size */

#container
{
	display: flex;
	min-height: 95%;
	max-height: 95%;
	width: 85%;
	margin: auto;
	flex-direction: column;
}

/* Header / Navigation positioning */

header > h1, nav, nav > ul > li
{
	display: inline-block;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 2em;
	margin-bottom: 2em;
}

header h1
{
	font-size: 2em;
	font-variant: small-caps;
}

header h2
{
	font-size: 1.5em;
	font-variant: small-caps;
}

header h1 a
{
	text-decoration: none;
	color: black;
}

nav > ul
{
	list-style: none;
}

nav > ul > li:first-child
{
	margin-right: 20px;
}

nav > ul > li a
{
	color: black;
	text-decoration: none;
}

nav > ul > li a:hover
{
	border-bottom: 2px solid black;
}

#main
{
	display: flex;
	min-width: 100%;
	min-height: 100%;
}

#main > img
{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}


/* Portfolio */

#portfolio > ul
{
	display: flex;
	flex-wrap: wrap;
}

#portfolio > ul .item
{
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 180px;
	margin: 15px;
}

#portfolio > ul .item img
{
	width: 150px;
	height: 150px;
}

#portfolio > ul .item p
{
	text-align: center;
	margin-top: 5px;
}